*.o
*-enum-types.c
*-enum-types.h
*-generated.c
*-generated.h
*.gcda
*.gcno
*.gir
*.gmo
*.la
*.lo
*.pc
*.stamp
*.typelib
*.vapi
*~

/data/accounts-daemon.service
/data/org.freedesktop.Accounts.service
/data/org.freedesktop.accounts.policy

/doc/dbus/AccountsService.xml
/doc/dbus/AccountsService.html
/doc/dbus/org.freedesktop.Accounts.User.ref.xml
/doc/dbus/org.freedesktop.Accounts.ref.xml
/doc/libaccountsservice/html/
/doc/libaccountsservice/xml
/doc/libaccountsservice/*decl*.txt
/doc/libaccountsservice/*-unused.txt
/doc/libaccountsservice/*-undocumented.txt
/doc/libaccountsservice/*.args
/doc/libaccountsservice/*.hierarchy
/doc/libaccountsservice/*.interfaces
/doc/libaccountsservice/*.prerequisites
/doc/libaccountsservice/*.signals

/src/accounts-daemon
