Source: accountsservice
Section: admin
Priority: optional
Maintainer: Alessio Treglia <alessio@debian.org>
Build-Depends: debhelper (>= 7.0.50~),
 dh-autoreconf,
 intltool,
 gnome-doc-utils,
 xmlto,
 libdbus-glib-1-dev,
 libpolkit-gobject-1-dev,
 libglib2.0-dev (>= 2.25.11),
 libgirepository1.0-dev (>= 0.9.12),
 gobject-introspection (>= 0.9.12)
Standards-Version: 3.9.1
Homepage: http://cgit.freedesktop.org/accountsservice/
Vcs-Git: git://git.debian.org/collab-maint/accountsservice.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/accountsservice.git

Package: accountsservice
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Suggests: gnome-control-center
Description: query and manipulate user account information
 The AccountService project provides a set of D-Bus
 interfaces for querying and manipulating user account
 information and an implementation of these interfaces,
 based on the useradd, usermod and userdel commands.

Package: libaccountsservice0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Suggests: gnome-control-center
Description: query and manipulate user account information - shared libraries
 The AccountService project provides a set of D-Bus
 interfaces for querying and manipulating user account
 information and an implementation of these interfaces,
 based on the useradd, usermod and userdel commands.
 .
 This package provides the shared libraries of the
 AccountService library.

Package: libaccountsservice-dev
Section: libdevel
Architecture: all
Depends: libaccountsservice0 (>= ${source:Version}),
 libaccountsservice0 (<< ${source:Upstream-Version}+1~),
 ${misc:Depends}
Suggests: gnome-control-center
Description: query and manipulate user account information - header files
 The AccountService project provides a set of D-Bus
 interfaces for querying and manipulating user account
 information and an implementation of these interfaces,
 based on the useradd, usermod and userdel commands.
 .
 This package provides the development files for the
 AccountService library.

Package: gir1.0-accountservice-1.0
Section: libs
Architecture: any
Depends: libaccountsservice0 (= ${binary:Version}),
 gir1.0-glib-2.0 (>= 0.9.12),
 gir1.0-dbus-1.0,
 ${misc:Depends}
Description: GObject introspection data for AccountService
 The AccountService project provides a set of D-Bus
 interfaces for querying and manipulating user account
 information and an implementation of these interfaces,
 based on the useradd, usermod and userdel commands.
 .
 This package provides the introspection data for the
 AccountService library.
